$color_1: #213F7D;
$color_2: #545F7D;
$font-family_1: 'Poppins';

.pagination {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-left: 0px;
	padding: 0px;
}
.direction {
	background: rgba(33, 63, 125, 0.1);
	border-radius: 4px;
	color: $color_1;
	padding: 6px 8px;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 20px;
	text-decoration: none;
}
.active {
	a {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: $color_2;
		text-decoration: none;
	}
}
.inactive {
	a {
		text-decoration: none;
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		opacity: 0.6;
		color: $color_2;
	}
}