$color_1: #FFFFFF;
$color_2: #545F7D;
$font-family_1: 'Avenir Next';

.fill {
	background: #39CDCC;
	padding: 15px 13px;
	border: none;
	width: 100%;
	border-radius: 8px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
	color: $color_1;
}
.outline {
	cursor: pointer;
	border: 1px solid #545F7D;
	border-radius: 8px;
	background: none;
	color: $color_2;
	padding: 15px 13px;
}