.sideBar{
  height: 686px;
  overflow: scroll;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  width: 283px;
  padding-top: 39px;
  padding-bottom: 136px;
  z-index: 1;
  top: 133px;
}
.sideBar::-webkit-scrollbar {
    display: none;
  }

  .sideBar{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .sideBarItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .sideBarItem p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #213F7D;


  }
  .sideBarItemm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
    padding-left: 30px;
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .sideBarItem p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #213F7D;

  }
  .things{
    display: flex;
    // justify-content: space-between;
    
    padding: 10px 30px;
    gap: 10px;
    align-items: center;
    opacity: 0.4;
  
  }
  .things:hover{
    border-left: solid 4px #39CDCC;
    background: #39cdcd1a;
    opacity: 1;
}
.active{
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-right: 48px;
  padding-left: 30px;
  padding-top: 11px;
  border-left: solid 4px #39CDCC;
  background: #39cdcd1a;
  gap: 10px;
}

@media screen and (max-width: 990px) {
.sideBar {
  height: 686px;
  margin-left: -43px;
  overflow: scroll;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  width: 283px;
  padding-top: 4px;
  padding-bottom: 136px;
  z-index: 1;
  display: none;
  top: 133px;
}
}