$color_1: #545F7D;
$color_2: #213F7D;
$color_3: #E4033B;
$color_4: #39CDCC;
$color_5: rgba(0, 0, 0, 0.8);
$font-family_1: 'Poppins';
$font-family_2: "Poppins";

.dataSummary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	div {
		padding: 20px 30px 20px 30px;
		background: #FFFFFF;
		border: 1px solid rgba(33, 63, 125, 0.06);
		box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		width: 18%;
		p {
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: $color_1;
		}
		h1 {
			font-family: $font-family_1;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 28px;
			text-transform: uppercase;
			color: $color_2;
		}
	}
}
.table {
	width: 100%;
	position: relative;
	thead {
		tr {
			th {
				div {
					display: flex;
					align-items: center;
					gap: 10px;
					p {
						font-family: $font-family_1;
						font-style: normal;
						font-weight: 600;
						font-size: 12px;
						line-height: 14px;
						display: flex;
						align-items: flex-end;
						text-transform: uppercase;
						color: $color_1;
					}
				}
			}
		}
	}
}
.tableDiv {
	background: #FFFFFF;
	border: 1px solid rgba(33, 63, 125, 0.06);
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	padding: 30px;
	margin-top: 40px;
}
.paginations {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.paginationsDrop {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 10px;
	select {
		background: rgba(33, 63, 125, 0.1);
		border-radius: 4px;
		border: none;
		padding: 7px 12px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: $color_2;
	}
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: $color_1;
	}
}
.back {
	display: flex;
	align-items: center;
	gap: 14.41px;
	cursor: pointer;
}
.userDts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: $color_2;
	}
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		button {
			&:nth-child(1) {
				border: 1px solid #E4033B !important;
				color: $color_3;
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				border-radius: 8px;
			}
			&:nth-child(2) {
				border: 1px solid #39CDCC !important;
				color: $color_4;
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 16px;
				text-align: center;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				border-radius: 8px;
			}
		}
	}
}
.profile {
	margin-top: 40px;
	padding: 30px;
	padding-bottom: 0px;
	background: #FFFFFF;
	border: 1px solid rgba(33, 63, 125, 0.06);
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: $color_1;
	}
	h1 {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: $color_2;
	}
	hr {
		margin: 30px;
		opacity: 0.2;
		height: 80px;
		border: 1px solid #545F7D;
	}
}
.profileImage {
	display: flex;
	gap: 20px;
	align-items: center;
	img {
		border-radius: 50%;
	}
}
.profileInner {
	display: flex;
	align-items: center;
}
.profileAccount {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: $color_2 !important;
}
.profilleGeneral {
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: $color_5;
		// color: #39CDCC;
	}
}
.fullProfilePersonal {
	display: flex;
	flex-wrap: wrap;
	div {
		width: 17%;
		overflow: scroll;
		margin-left: 30px;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		p {
			&:nth-child(1) {
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				text-transform: uppercase;
				color: $color_1;
			}
			&:nth-child(2) {
				font-family: $font-family_1;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: $color_1;
			}
		}
	}
}
.fullProfile {
	margin-top: 30px;
	padding: 30px;
	background: #FFFFFF;
	border: 1px solid rgba(33, 63, 125, 0.06);
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	hr {
		opacity: 0.1;
		border: 1px solid #213F7D;
	}
	h2 {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: $color_2;
	}
}
.active {
	border-bottom: solid 3px #39CDCC;
	p {
		font-family: $font-family_1;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: $color_4 !important;
	}
}
@media screen and (max-width: 990px) {
	.dataSummary {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		flex-direction: column;
		div {
			padding: 20px 30px 20px 30px;
			background: #FFFFFF;
			border: 1px solid rgba(33, 63, 125, 0.06);
			box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
			border-radius: 4px;
			width: 100%;
		}
	}
	.paginations {
		display: flex;
		flex-direction: column-reverse;
	}
	.tableDiv {
		background: #FFFFFF;
		border: 1px solid rgba(33, 63, 125, 0.06);
		box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		padding: 30px;
		margin-top: 40px;
		overflow: scroll;
	}
	.userDts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		h1 {
			font-family: $font-family_2;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			color: $color_2;
		}
		div {
			button {
				&:nth-child(1) {
					border: 1px solid #E4033B !important;
					color: $color_3;
					font-family: $font-family_2;
					font-style: normal;
					font-weight: 600;
					font-size: 10px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					border-radius: 8px;
				}
				&:nth-child(2) {
					border: 1px solid #39CDCC !important;
					color: $color_4;
					font-family: $font-family_2;
					font-style: normal;
					font-weight: 600;
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					border-radius: 8px;
				}
			}
		}
	}
	.profileInner {
		display: block;
		text-align: center;
	}
	.profile {
		hr {
			margin: 30px;
			opacity: 0.2;
			height: 0px;
			border: 1px solid #545F7D;
		}
	}
	.profileImage {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;
		align-items: center;
	}
	.profilleGeneral {
		display: flex;
		gap: 113px;
		justify-content: space-between;
		align-items: center;
		overflow: scroll;
		p {
			width: 30%;
		}
	}
	.fullProfilePersonal {
		div {
			width: 91%;
			overflow: scroll;
			margin-left: 30px;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}
}
